*~
*.swp
*.gem
*.rbc
log/*log
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
tmp
var/**/*.pid
config/*.yml
.irb_hist
basic/basic_service/model.rb
